*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background: url(./image/background.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.title{
    padding: 1rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    color: #fbfcfd;
}

.navbar{
    width: 85%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

a{
    color: #fbfcfd;
    text-decoration: none;
}

.button:hover{
    background: rgba(255, 255, 255, 0.315);
    color: #101010;
    transform: translateY(2px);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
    color: #fbfcfd;
    margin: 2rem;
}

p{
    font-size: 1.3rem;
}

h1{
    margin: 10px 0 80px;
    line-height: 1.5;
    font-size: 2rem;
}

.manu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-links img, .useful-links img{
    margin: 5px auto;
    width: 25px;
    cursor: pointer;
}

.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 2rem;
}

.bubbles img{
    width: 50px;
    animation: bubble 4s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    position: absolute;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 4s;
}
.bubbles img:nth-child(2) {
    animation-delay: 3s;
}

.bubbles img:nth-child(3) {
    animation-delay: 2.5s;
}

.bubbles img:nth-child(4) {
    animation-delay: 1s;
}

.bubbles img:nth-child(5) {
    animation-delay: 0.5s;
}

.bubbles img:nth-child(6) {
    animation-delay: 3.5s;
}

.bubbles img:nth-child(7) {
    animation-delay: 2s;
}